.Dplayer {
    background-color: #23241F;
    cursor: pointer;
}

.Dplayer .left-10 {
    margin-left: 10px;
}

.Dplayer .left-20 {
    margin-left: 20px;
}

.Dplayer .right-10 {
    margin-right: 10px;
}

.Dplayer .right-20 {
    margin-right: 20px;
}

.Dplayer .hidden {
    display: none;
}

.Dplayer .video {
    background-color: #000000;
}

.Dplayer .control-bar {
    background-color: #23241F;
    width: 100%;
}

.Dplayer .control-bar .progress-bar {
    background-color: #595959;
    position: relative;
    width: 100%;
    height: 5px;
    line-height: 5px;
}

.Dplayer .control-bar .buffer-bar {
    background-color: #F0F0F0;
    opacity: 0.5;
    position: absolute;
    width: 0%;
    height: 5px;
    line-height: 5px;
    left: 0;
    top: 0;
}

.Dplayer .control-bar .time-bar {
    background-color: #FA8F02;
    position: absolute;
    width: 0%;
    height: 5px;
    line-height: 5px;
    left: 0;
    top: 0;
}

.Dplayer .control-bar .knob-bar {
    background-color: #505050;
    position: absolute;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    line-height: 10px;
    left: 5px;
    margin-top: -2.5px;
    margin-left: -5px;
    margin-right: 0px;
}

.Dplayer .control-bar .volume-control-bar {
    margin-top: 9px;
    width: 100px;
    height: 17px;
    line-height: 17px;
    position: relative;
    float: left;
}

.Dplayer .control-bar .volume-progress-bar {
    background-color: #595959;
    margin-top: 6px;
    position: absolute;
    width: 100px;
    height: 5px;
    line-height: 5px;
    left: 0;
    top: 0;
}

.Dplayer .control-bar .volume-bar {
    margin-top: 6px;
    background-color: #FA8F02;
    position: absolute;
    width: 100px;
    height: 5px;
    line-height: 5px;
    left: 0;
    top: 0;
}

.Dplayer .control-bar .volume-knob-bar {
    background-color: #505050;
    position: absolute;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    line-height: 10px;
    left: 100px;
    margin-top: 3.5px;
    margin-left: -5px;
    margin-right: 0px;
}

.Dplayer .control-bar .definition-bar{
    position: relative;
    float: left;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    -khtml-user-select:none;
    user-select:none;
}

.Dplayer .control-bar .definition-label{
    color: #505050;
    width: 60px;
    height: 27px;
    line-height: 27px;
    margin-top: 4px;
    font-size: .8em;
    text-align: center;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    background-color: #111111;
    border-radius: .5em;
}
.Dplayer .control-bar .definition-label:hover{
    color: #FFFFFF;
}

.Dplayer .control-bar .definition-panel{
    position: absolute;
    bottom: 28px;
    background-color: #23241F;
    opacity: 0.8;
    border-radius: 5px;
    border-radius: .5em .5em 0 0;
}

.Dplayer .control-bar .definition-option{
    color: #F0F0F0;
    font-size: .8em;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-left:5px;
    margin-right:5px;
    border-bottom: 1px solid #333333;
}

.Dplayer .control-bar .definition-option-selected{
    color: #FA8F02;
    font-size: .8em;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-left:5px;
    margin-right:5px;
    border-bottom: 1px solid #333333;
}

.Dplayer .control-bar .definition-option:hover{
    color: #FFFFFF;
    font-weight: bold;
}

.Dplayer .control-bar .definition-option-last{
    border-bottom: 0px;
}

.Dplayer .control-bar .button-bar {
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: #242424;
    position: relative;
    left: 0;
    top: 5px;
}

.Dplayer .control-bar .button-bar .icon {
    color: #5F5F5F;
    float: left;
    margin-top: 9px;
}

.Dplayer .control-bar .button-bar .icon:hover {
    color: #FA8F02;
}

.Dplayer .control-bar .button-bar .label-text {
    color: #5F5F5F;
    font-size: .8em;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    float: left;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    -khtml-user-select:none;
    user-select:none;
}

.Dplayer .control-bar .button-bar .label-show {
    color: #424242;
}

.Dplayer .control-bar .button-bar .control {
    margin-top: 9px;
}

.Dplayer .control-bar .button-bar .left-group {
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    float: left;
}

.Dplayer .control-bar .button-bar .right-group {
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    position: relative;
    float: right;
}
